.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #1d1b23;
}

.logo img {
  height: 3rem;
  width: 3rem;
  filter: drop-shadow(0 0 2px #f4c33d);
}

.username {
  margin-left: 0.5rem;
  color: #f4c33d;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.header nav a {
  color: #f4c33d;
  text-decoration: none;
}

.header nav a:hover,
.header nav a:active {
  color: #bd3df4;
}
